body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}


main {
  position:absolute;

  display: grid;
  grid-template-columns: repeat(6, 1fr);


  header{
    border-radius: 25px;
    border: 2px solid rgb(39, 39, 39);
    color: white;
    padding: 20px;
    text-align: center;

    grid-column: 2 / 6;
  }

  h1{
    grid-column-start: 3;
    grid-column-end:unset 7;
  }

  .container{
    position:relative;
    text-align: center;
  }

  .link{
    color: white;
  }

  .centered{

  }

  img {
    transform: scale(1);
    filter:brightness(80%);
    transition: filter 0.4s, transform 0.4s;
    max-width: 100%;
    height:auto;
    border-radius: 25px;
  }

  img:hover{
    transform:scale(1.1);
    filter:brightness(100%);

  }

  #flocking-link{
    grid-area:3/ 2/ span 1/ span 2;  /*row, col, row, col*/
  }

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  
}